@charset "UTF-8";
:root {
  --second-font: "Roboto", sans-serif;
  --colorfon-hiro: #FFFFFF;
  --colorfont-section-title:#212121;
  --section-fon-second:#2f303a;
  --section-fon-third:#F5F4FA;
}

/*BREAK POINTS*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background: var(--colorfont-hiro);
  /* MOBILE MENU */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #212121;
  background-color: #fff;
}

.section {
  padding: 94px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*@media screen and (max-width:768px){
    max-width: 768px;
    flex-wrap: wrap;
    gap:30px;
  }*/
}
@media screen and (max-width: 1199px) {
  .section {
    /*width:480px;*/
    padding: 60px 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    width: 768px;
  }
}

.link {
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  margin: 0px auto;
  padding: 0px 15px;
}
@media screen and (min-widht: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-widht: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__line {
  border-bottom: 1px solid #ECECEC;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__nav {
  margin-left: 93px;
  padding-right: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav {
    margin-left: 88px;
    padding-right: auto;
  }
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

/*додав в header-nav-link лінію з низу при ховері*/
.header__nav-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  padding: 24px 0px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
}

/* розмитка для тел и пошти*/
.header__list-item {
  margin-right: 0;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__list-item {
    display: block;
    margin-left: auto;
  }
}

.header__nav-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav-mail {
    padding: 5px 0px;
  }
}

.header__nav-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  padding: 24px 0px;
  font-family: var(--second-font);
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav-tel {
    margin-left: auto;
    padding: 5px 0px;
  }
}

.header__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  margin-right: 10px;
}

.header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: currentColor;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1600px;
  padding: 200px 0px;
}
@media screen and (max-width: 1199px) {
  .hero {
    padding: 118px 0px;
  }
}

.hero__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0px;
  margin-bottom: 30px;
  font-family: var(--colorfont-hiro);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--colorfon-hiro);
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}

.hero__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
}
.hero__btn:hover, .hero__btn:focus {
  font-family: inherit;
  background: #188CE8;
}
@media screen and (max-width: 480px) {
  .hero__btn {
    width: 200px;
    height: 50px;
  }
}

.hero__btn:hover,
.hero__btn:focus {
  font-family: inherit;
  background: #188CE8;
}

/*Фон та зображення + градіент для 1 секції hero */
.hero__gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img\ \(20\).jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img\ \(20\).jpg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/header\ img_sm@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/header\ img_sm@1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/header\ img_sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/header\ img_sm@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero__gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/header\ img_md@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/header\ img_md@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero__gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/header\ img_md@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/header\ img_md@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero__gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/img_lg@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/img_lg@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2.0416666666666665), screen and (min-width: 769px) and (min-resolution: 196dpi), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__gradient {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero/img_lg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero/img_lg@2x.jpg);
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.about__section {
  padding-top: 60px;
  padding-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .about__section {
    /*padding-top: 0px;*/
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .about__section {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0px;
  margin-bottom: 10px;
}
.about__list:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 767px) {
  .about__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Робота з іконами :) */
.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .about__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .about__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__icon {
    width: 270px;
  }
}

.about__icon-fill {
  width: 70px;
  height: 70px;
}

.about__content {
  padding-left: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (max-width: 767px) {
  .about__content {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    width: 270px;
  }
}

.about__header-content:last-child {
  margin-right: 0px;
}

/*робота з текстом*/
.abuot__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about__header {
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .about__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.work {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 1199px) {
  .work_display-none {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  padding-left: 0px;
}

.work__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/*Робота з текст з фоном спозиційований поверх зображення*/
.work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  padding: 27px;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8)));
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
}

.employees {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 480px) {
  .employees {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .employees {
    width: 768px;
  }
}

.employees__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .employees__img {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .employees__img {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section__fourth {
  background: var(--section-fon-third);
}

.employees__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
}

.employees__our {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
}

.employees__distance {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .employees__distance {
    width: 354px;
  }
}

/*Робота з іконами :)*/
.employees__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.employees__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: #AFB1B8;
  background-color: #FFFFFF;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.employees__link:hover, .employees__link:focus {
  color: #FFFFFF;
  background-color: #2196f3;
}

.employees__icon-card {
  fill: currentColor;
}

/*зроблено тіні карток сотрудників*/
.employees__shadow {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 480px) {
  .employees__shadow {
    margin-bottom: 30px;
  }
}

.employees__icon-distnce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .client {
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  color: #2196F3;
  border-color: #2196F3;
}
@media screen and (max-width: 480px) {
  .client__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__link {
    width: 226px;
  }
}

.client__icon {
  fill: currentColor;
}

.footer {
  background: var(--section-fon-second);
  padding: 60px 0px;
  /*@media screen and (min-width:768px){
    justify-content: space-around;
  }*/
}

.footer__alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 60px;
}
@media screen and (max-width: 480px) {
  .footer__alignment {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__alignment {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .footer__distance {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__distance {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__distance-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*margin: 0px 68px;*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 480px) {
  .footer__location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__location {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.1666666667px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__logo {
    width: 154px;
    margin-right: 0;
  }
}

.footer__list {
  width: 231px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__adress {
  font-style: normal;
  line-height: 1.7142857143v;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .footer__adress {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.footer__nav {
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 480px) {
  .footer__nav {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.footer__adress-distance {
  margin-bottom: 9px;
}
@media screen and (max-width: 480px) {
  .footer__adress-distance {
    margin-bottom: 12px;
  }
}

.footer__tel {
  margin-bottom: 0px;
}

/*Іконки підвалу*/
.footer__title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__icons-distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.footer__link:hover, .footer__link:focus {
  color: #FFFFFF;
  background-color: #2196f3;
}

.footer__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #FFFFFF;
}

.footer__icon-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__icon-center {
    padding-left: 135px;
  }
}

/*Форми у футері*/
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 93px;
}
@media screen and (max-width: 480px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
  }
}

.footer__form-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__form-position {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 12px;
}
@media screen and (max-width: 480px) {
  .footer__label {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__label {
    margin-right: 0;
  }
}

.footer__input {
  width: 358px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18px;
  background: var(--section-fon-second);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #757575;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 480px) {
  .footer__input {
    width: 450px;
    padding-left: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__input {
    margin-bottom: 20px;
    width: 450px;
    margin-right: 0;
  }
}

.footer__btn-form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-right: 62px;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
}

.footer__btn-svg {
  position: absolute;
  fill: #FFFFFF;
  left: 148px;
}

.footer__btn-icon {
  width: 24px;
  height: 24px;
}

.active-link::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  content: "";
  top: 66px;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.section__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--colorfont-section-title);
}
@media screen and (max-width: 480px) {
  .section__title {
    margin-bottom: 30px;
  }
}

.section_fourth {
  background: var(--section-fon-third);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1428571429;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-left: auto;
  }
}

.logo__color-first {
  color: #2196f3;
}

.logo__color-second {
  color: #000000;
}

.logo__colorsecond-footer {
  color: #FFFFFF;
}

.logo__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px;
  margin-bottom: 20px;
  margin-right: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  -webkit-transition: opacity 50ms linear, visibility 50ms linear;
  transition: opacity 50ms linear, visibility 50ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 30px 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translateY(-50%) translatex(-50%);
          transform: translateY(-50%) translatex(-50%);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  fill: #2196F3;
  cursor: pointer;
}

.modal__btn-close-icon {
  width: 18px;
  height: 18px;
}

/*створюю стилі для Форм*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text__form {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text__form {
    line-height: 1.5;
  }
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form__name-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  padding-bottom: 4px;
}

.form__field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  color: #757575;
  padding-left: 40px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus {
  outline: 1px solid #2196F3;
  border: transparent;
}
.form__field:focus + .form__icon {
  fill: #2196F3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__field {
    width: 370px;
    height: 40px;
  }
}

.form__icon {
  position: absolute;
  top: 28px;
  left: 14px;
  fill: #212121;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__label-textarea {
    padding: 0;
  }
}

.form__field-textarea {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field-textarea:focus {
  outline: 1px solid #2196F3;
  border: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form__field-textarea {
    width: 370px;
    height: 120px;
  }
}

/* нИЗ форми*/
.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
}

.checkbox:checked + .icon-check {
  background-image: url(../img/icons/icon\ check.svg);
  border: none;
}

.position-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.position-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 9px;
  margin-left: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text-contract {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.contract {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #2196F3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contract {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.btn-submit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #188CE8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 52px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover {
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding: 0;
   margin: 0;*/
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: #2196f3;
}

.menu-icon {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  z-index: 999;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  /*color: #fff;*/
}

.menu-text {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  list-style: none;
}

.menu-distance:not(:last-child) {
  margin-bottom: 32px;
}

.menu-text-item .link {
  /*color: #fff;*/
  text-decoration: none;
}

.mobile-menu-contact {
  padding: 0;
  margin-bottom: 64px;
  list-style: none;
  text-decoration: none;
}

.menu-text-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  display: block;
  color: #212121;
}

/*.margin:last-child{
margin-bottom: 0px;
}
.margin-none{
margin-bottom: 0px;
}*/
.menu-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 32px;
  color: #2196F3;
}

.menu-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-social {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  /*color: #fff;*/
  text-decoration: none;
  list-style: none;
  gap: 20px;
}

.mobile-menu-social:last-child {
  margin-right: 0;
}

.active {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */