.work{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
 
  
  .work_list{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 0px;
  }
  
  .work_img{
    display:flex;
    justify-content: center;
    align-items:flex-end;
  }
  
       /*Робота з текст з фоном спозиційований поверх зображення*/
  
  
  .work_text{
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px; 
    padding: 27px;
    position: absolute;
    
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
    background-image:linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  
  }   
         
  