:root {
    --second-font: 'Roboto', sans-serif;
    --colorfont-hiro: #FFFFFF;
    --colorfont-section-title:#212121;
   
    
    --section-fon-second:#2f303a;
    --section-fon-third:#F5F4FA;
    }
     /*BREAK POINTS*/
$mobile: 479px;
$tablet: 767px;
$desktop: 1199px;