html{
box-sizing: border-box;
}
*,
*::after,
*::before{
  box-sizing:inherit;
}

h1,h2,h3,h4,h5,h6,p{
margin:0;
}

img{
 display:block;
 max-width:100%;
 height:auto;
}


:root {
 --second-font: 'Roboto', sans-serif;
 --colorfont-hiro: #FFFFFF;
 --colorfont-section-title:#212121;

 
 --section-fon-second:#2f303a;
 --section-fon-third:#F5F4FA;
 }

body{

font-family: 'Roboto', sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
background: var(--colorfont-hiro) ;

/*колір основного тексту #757575*/
/*колір вторинного тексту #212121*/
/*колір н1 #FFFFFF*/
/*колір акцент.логотіпа #2196F3
                        #000000 * /
/*колір першого фону (основний)#FFFFFF */
/*колір другого фону #2F303A*/
/*колір третього фону #F5F4FA*/

} 

     /*!--робота з текстом в  ссилках в шапці */

.link{
  text-decoration: none;
  transition-duration:250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus{
  fill:#2196F3 ;
color:#2196F3;

}
.link-first-btn:hover,
.link-first-btn:focus{
     font-family: inherit;
     background: #2196F3;
     
}


.list{

 list-style:none;
 padding-left: 0;
 margin:0;
}
       /*--задаю єлементам в хедері розмітку--*/

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  
}

.header-container{
display: flex;
align-items: center;
}

.header-line{
  border-bottom: 1px solid #ECECEC;
}

.header-list{
  display: flex;
  align-items: center;
}

.section{
  padding: 94px 0px;

}




.logo-link{
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0px;
  

  font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: calc(16 / 14);
}
.logo-color-first{
color:#2196f3;
}
.logo-color-second{
color:#000000 ;
}
.logo-colorsecond-footer{
 color:#FFFFFF;
}
      /*розмитка для nav*/
.list-nav{
margin-left: 93px;
padding-right:auto;
}

.header-nav-item:not( :last-child) {
margin-right: 50px;
}

          
.header-nav-link{
  display: inline-flex;
  position: relative;
  padding: 24px 0px;
  

  font-family: var( --second-font);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
   color: #212121;
}                         /*додав в header-nav-link лінію з низу при ховері*/
.active-link::after{
  display: inline-flex;
 position: absolute; 
 content: "";
 top:66px;
 
width: 100%;
height: 4px;
background: #2196F3;
border-radius: 2px;
}






      /* розмитка для тел и пошти*/
.list-item{
margin-right: 0;
margin-left:auto;
}

.header-nav-mail{
  display: flex;
  padding: 24px 0px;
  font-family: var( --second-font);
font-weight: 500;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color:#757575;
}
 
.header-nav-tel{
  display: flex;
  margin-left: 50px;
  padding: 24px 0px;

  font-family: var( --second-font);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  
  color: #757575;
}
     /* іконки  для пошти і телефона*/

.icon-link-header{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#757575 ;
  margin-right: 10px;
  }

.icon-header{
  display: flex;
  color:currentColor;

}

    /*робота с першою секцією-герой*/
    /*розмітка секції герой*/
.section-first{
  display: flex;
  max-width: 1600px;
 
 padding:200px 0px;

}


.section-title-first{
   display:flex;
   justify-content: center;
   align-items: center;
   
   margin: 40px;

   font-family: var( --colorfont-hiro);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);

  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color:var(--colorfont-hiro);
}


.btn-hero{  
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 50px;
  }





.section-first-btn{ 
 

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
}

.active-link{
  color:#2196f3;
}
     /*Фон та зображення + градіент для 1 секції hero */
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  text-align: center;
  margin:0 auto;
background-color:#C4C4C4;
background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img\ \(20\).jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

 
    /*Робота з другою секцією*/
    /*розмітка*/
.about-container{

display: flex;
}

.about-list{
display: flex;
align-items: flex-start;
gap:30px;
padding-left: 0px;
}

.section-about{
padding-top: 94px;
padding-bottom: 0px;
}

.about-content{

padding-left: 0px;
}



.about-header-content:last-child{
    margin-right: 0px;
  }

.title{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #212121;
}

.advanteg-our{
  font-size: 14px;
  line-height: calc(24 / 14);
   letter-spacing: 0.03em;
  color: #757575;
}

.about-header{
  margin-bottom:10px;
}
     /* Робота з іконами :) */
.about-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
border-radius: 4px;
}
.icon-fill{
width: 70px;
height: 70px;
}
  


    /*третя секція Img чим ми займаємось*/
    /*розмітка третьої секції*/

.section-title{
  display:flex;
  margin-bottom: 50px;
  justify-content: center;

  font-family:var(--second-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  
  color:var(--colorfont-section-title);
}

.list-img{
display: flex;
justify-content: space-between;
margin-top: 50px;
padding-left: 0px;
}
     /*Робота з текст з фоном спозиційований поверх зображення*/
.box-img{
  display:flex;
  justify-content: center;
  align-items:flex-end;

  
}

.text-img{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px; 
  padding: 27px;
  position: absolute;
  

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;

  background-image:linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));

}   
       

      /*четверта секция-наши сотрудники(section-employees)*/
      /*розмітка четвертої секції*/
.employees-title{
display: flex;
align-items: center;
margin-bottom: 50px;
}

.employees-img{
display: flex;
justify-content: space-between;
}
.section-fourth{
 background:var(--section-fon-third) ;
}
.title-employees{
      display: flex;
      justify-content: space-around;
      margin-bottom: 10px;
      
      
      font-weight: 500;
      font-size: 16px;
      line-height: calc(19 / 16);
      
    
      letter-spacing: 0.03em;
      
      color: #212121;
}
.employees{
  display: flex;
  justify-content: space-around;
  

  font-size: 16px;
  line-height: calc(19 / 16);
  
  
  letter-spacing: 0.03em;
  
  color: #757575;
}

.employees-distance{
 padding-top: 30px;
 padding-bottom: 30px;
 background: #FFFFFF;
 border-radius: 0px 0px 4px 4px;
}
    /*Робота з іконами :)*/
.list-icons{
 display:flex;
 justify-content: center;
 margin-top: 16px;
 
}
.employees-link{
display: flex;
justify-content: center;
align-items: center;
width: 44px;
height: 44px;
color: #AFB1B8;
background-color: #FFFFFF;
border-radius: 50%;
transition-duration:250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-card{
  fill:currentColor;
  }
                    /*зроблено тіні карток сотрудників*/
.shadow{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.employees-link:hover,
.employees-link:focus,
.footer-link:hover,
.footer-link:focus{
  color:#FFFFFF;
  background-color: #2196f3;
  
}
.icon-distnce-employees{
display: flex;
gap:10px;
}

     /*Додав секцію та ікони - Постійні клієнти*/
.client-distance{
 gap:30px;
}
.client-link{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px ;
  color:#AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: #FFFFFF;
 transition-duration:250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-client{
fill:currentColor;
}


.client-link:hover,
.client-link:focus{
  color:#2196F3;
  border-color: #2196F3;
 
 }

   /*Робота з підвалом*/
   /*розмітка підвала*/
.half{
display: flex;
gap:70px;
align-items: baseline;
}
.list-footer{
display:flex;
padding-left: 0px;
flex-direction: column;
}
.logo-footer{
display: flex;
padding: 0px 0px;
margin-bottom: 20px;
margin-right: 0px;

}
.footer{
 background:var(--section-fon-second);
 padding: 60px 0px;
}
.adress{
  


  font-style: normal;
  line-height:calc(24v / 14);
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}
.footer-nav{

font-style: normal;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-adress{
  margin-bottom: 9px;
}

.footer-last{
  margin-bottom: 9px;
}

.footer-tel{
margin-bottom: 0px;
}
          /*Іконки підвалу*/
.title-footer{
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
}
.footer-icons{
  display: flex;;
  gap:10px;
}
.footer-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  }
  .icon-footer{
   display: flex;
   justify-content: center;
   align-items: center;
   fill:#FFFFFF;
  }
  .icon-center{
  display: flex;
  flex-direction: column;

  }
           /*Mодальне вікно*/
  .backdrop{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 50ms linear, visibility 50ms linear ;
}
.backdrop.is-hidden{
opacity:0;
visibility: hidden;
pointer-events: none;
}
.modal{
  
position:absolute;
top:50%;
left:50%;
width: 528px;
height: 581px;

background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
 transform:translateY(-50%) translatex(-50%);
}
.btn-close{
  position:absolute;
  top:10px;
  right: 10px;
display: flex;
justify-content:center;
align-items: center;
 width: 30px;
height: 30px;
padding:0;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
background-color: #FFFFFF;

}
.btn-close-icon{
width: 18px;
height: 18px;
 


}

     /*СТИЛІ ДЛЯ ПОРТФОЛІО*/

    /*Стилізація кнопок*/
 
.portfolio-btn-link{
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height:calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  color: #212121;
   transition-property: background-color,box-shadov,transform;
    transition-duration:250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  


  
  
  
}

.btn-link:not(:last-child){
margin-right: 8px;
}



.portfolio-btn-link:hover,
.portfolio-btn-link:focus{
   color:#FFFFFF;
   background-color: #2196f3;
   border: 1px solid #EEEEEE;
   border: none;
   cursor: pointer;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   
}
.portfolio-container{
display: block;
align-items: center;
}

.btn-list{
display:flex;
justify-content: center;    
margin-bottom: 56px;
}

.portfolio-titles{
  display: flex;
  padding-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  margin-bottom: 4px;
  /* identical to box height, or 200% */
  
  letter-spacing: 0.06em;
  
  color: #212121;
}

.portfolio-item{
  display: flex;
  padding-left: 24px;
  

  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  
  letter-spacing: 0.03em;
  
  color: #757575;
}

.list-content{
display:flex;
flex-wrap: wrap;
gap:30px;
}

.content-item{
display: flex;
flex-direction: column;
width: 370px;
}

.content-item:nth-child(3n){
margin-right: 0px;
}
.content-element{
padding-top: 20px;
padding-bottom: 20px;
border: 1px solid #EEEEEE;
border-top: none;
}
 
.shadow-portfolio:hover,
.shadow-portfolio:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
 
}
.shadow-portfolio{
 transition-duration:250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
         /*робота з owerlay*/
.box-overlay{
position:relative;
overflow:hidden
}
.overlay{
  content: "";
 display: flex;
  align-items:center ;
  padding: 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration:250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-portfolio:hover .overlay,
.hover-portfolio:focus .overlay{
 transform:translateY(0%);
}
  
  
  
  

.overlay-text{
   
  
  position: absolute;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
}


